<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="Source Code/css/style1.css">
    <!--Here we have used the normalise.css framework so that our website will be compatible with any browser from which we 
    are viewing our website-->
    <link rel="stylesheet" href="Vendors/js/grid.css">
    <link rel="stylesheet" href="Vendors/css/queries.css">
    <!--Every website must be responsive for making user friendly
    By the word responsive means it should adjust to the screen from which the website is being viewed on
Every website is divided into 12 columns Here we are using gridsystem.css to provide responsiveness-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/32fdb9a229.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>
    <body>
        <%- include('header'); %> 
        <section class="row content">
            <div class="content-left">
                <%- include('dashboard_left'); %>
            </div>
            <div class="content-right">
                <div class="content-right-top">
                    <h6>Dashboard<h6>
                </div>
                <div class="content-right-middle">
                    <div class="middle-content">
                        <div class="left-part">
                            <i class="fa-solid fa-user-graduate"></i>
                        </div>
                        <div class="right-part">
                            <h6>Total Course</h6><p>7</p>
                            <a href="#">View Detail</a>
                        </div>
                    </div>
                    <div class="middle-content">
                        <div class="left-part">
                            <i class="fa-solid fa-square-root-variable"></i>
                        </div>
                        <div class="right-part">
                            <h6>Total Subject</h6><p>7</p>
                            <a href="#">View Detail</a>
                        </div>
                    </div>
                    <div class="middle-content">
                        <div class="left-part">
                            <i class="fa-solid fa-chalkboard-user"></i>
                        </div>
                        <div class="right-part">
                            <h6>Total Teacher</h6><p>7</p>
                            <a href="#">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('footer'); %>        
    </body>
</html>