<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#" style="color:white">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color:white">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color:white">Link</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color:white">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 nav-right">
               
            <div class="dropdown">
             <button class="btn btn-secondary dropdown-toggle drop-icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                 <i class='fa fa-user-circle user' style="font-size: 30px;"></i><%= user.name %>
             </button>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
               <a class="dropdown-item" href="/dashboard/profile"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;Profile</a>
               <!-- <a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i>&nbsp;&nbsp;&nbsp;Settings</a> -->
               <a class="dropdown-item" href="/user/signout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;&nbsp;Logout</a>
             </div>
           </div>
         </form>
        
    </div>
</nav>