<form action="/project/create-project" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Project Name" required>
    <!-- <input type="text" name="ta-email" placeholder="Add Ta">
    <button>Add</button>
    <input type="text" name="student-email" placeholder="Add student">
    <button>Add</button> -->
    <input type="file" name="question" placeholder="Upload project">
    <input type="file" name="solution" placeholder="Upload solution">
    <input type="number" name="score" placeholder="Score">
    <input type="number" name="obtainedScore" placeholder="Score-Obtained">
    <input type="date" name="dueDate" placeholder="Due">
    <input type="submit" value="Add Project">
</form>