<html>    
    <body>        

        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Online Submission Portal</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-5">
                        <div class="login-wrap p-4 p-md-5">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-user-o"></span>
                            </div>
                            <h3 class="text-center mb-4">Sign In</h3>
                            <form action="/user/create-session" method="post" class="login-form">
                                <div class="form-group">
                                    <input type="text" name="email" class="form-control rounded-left" placeholder="Username" required>
                                </div>
                                <div class="form-group d-flex">
                                    <input type="password" name="password" class="form-control rounded-left" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Login</button>
                                </div>
                                <div class="w-100 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                                <div class="footer">Don't have an account?<a href="/user/signup">Register Here</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <script src="/sign_in_page/js/jquery.min.js"></script>
        <script src="/sign_in_page/js/popper.js"></script>
        <script src="/sign_in_page/js/bootstrap.min.js"></script>
        <script src="/sign_in_page/js/main.js"></script>
    
    </body>
</html>