* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    padding:0px;
    overflow-x:hidden;
    background-color: #efefef;
}
.row {
    max-width: 1200px;
    margin: 0 auto;
}
.btn{
    border:1px solid white;
}
.btn:hover{
    border:2px solid white;
    background-color: black;
}
footer {
    background-color: #007bff;
    font-size: 100%;
    padding: 50px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: white;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: black;
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 100%;
    margin-top: 20px;
}

.fb:hover,
.fb:active {
    color: black;
}

.twitter:hover,
.twitter:active {
    color: black
}

.google:hover,
.google:active {
    color: black;
}

.instagram:hover,
.intstagram:active {
    color: black;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}
.center{
    display:flex;
    justify-content: center;
}
.content{
    display:flex;
    height:500px;
}
.content-left{
    background:#fff;
    padding-left: 10px;
    width:240px;
}
.menu-items{
   display:flex;
   margin:10px 10px;
}
.menu-items li{
    list-style: none;
    display:inline-block; 
    cursor:pointer;
    margin-top:-3px;
    margin-left:20px;
}
.menu-items li:hover{
    border-bottom:1px solid blue;
    color:blue;
}
.content-left h4{
   padding:10px 3px;
   color:#007bff;
}
.content-right{ 
    flex: 1;
}
.content-right-top{
    margin:8px 12px;
    background: #fff;
    padding:8px 8px;
}
.content-right-bottom{
    background:white;
    margin:8px 12px;
    height:400px;
    padding:8px 8px;
}
.details{
    display:flex;
}
.details-left{
    display:flex;
    flex-basis:40%;
    margin-left:0px;

}
.details-right{
    flex:1;
    text-align: left;
}
.details-right a{
    text-decoration:none;
}
.details-right hr{
    border-bottom:1px solid #efefef;
    margin-bottom:3px;
    position:absolute;
    width:500px;
    background:#efefef;
    margin-top:0px;
}
.attributes{
    display:flex;
    align-items:space-between;
    margin-top:20px;
    margin-bottom:6px;
    margin-right:6px;

}
.att-left{
     width:140px;
     display:block;
     height:34px;
}
.att-right{
        width:140px;
        display:block;
        height:34px;
}
.dropdown{
    display:flex;
    flex-direction: row-reverse;
    border:none;
    background:#007bff;
}
.drop-icon{
    border:none;
    background:#007bff;
   
}
.drop-icon:hover{
    border:none;
    background:#007bff;
}